{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}

    <h1> Bienvenu à {{ville}}</h1>

    <p>Une charmante ville de {{habitant}} habitants </p>

    {% if  habitant < 1000 %}
    
        <p>C'est un village</p>
     
    {% elseif habitant >= 1000 and habitant < 10000 %}

        <p>C'est une petite ville</p>

    {% elseif habitant >= 10000 %}

        <p>C'est une grande ville</p>
        
    
    {% endif %}
    
        

{% endblock %}
